:root {
  --iphonex-width: 375px;
  --iphonex-height: 812px;
}

.rootContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  width: var(--iphonex-width);
  height: var(--iphonex-height);
}
